<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/rygel.jpg">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{areaMessage}}</p>
    </div>
    {{>footer}} 
</body>
</html>