<!DOCTYPE html>

<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">    
    <link rel="icon" href="/img/rygel.jpg">
</head>
<body>
    <div class="main-content">
        {{>header}} 
        <p>This site created by Zavan.  It uses mapbox.com and darksky.net APIs to pull data.</p>
        <img src="/img/kitten.jpg" class="portrait">
    </div>
    {{>footer}} 
</body>
</html>